* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    background: url("images/default.jpg") center/contain no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h2 {
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}
